@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@500;600;700&family=Epilogue:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}